*{
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
}

html{  
    font-family: "Public Sans", sans-serif;
}

/* Nav Bar */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004E42;
    height: 100%;
}

li{
    float: left;
    height: 100%;
}

li a {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
    height: 100%;
}

.active{
    background-color: #00384E;
}

.nav_bar{
    display: grid;
    grid-template-columns: 1fr 7fr;
    margin: auto;
    height: 100%;
}

.logo{
    background-color: #004E42;
}

/* Hero Section */
.hero-image{
    background-image: url("../images/Chessboard.jpg");
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    font-size: 3.2rem;
    color: #00AB8E;
    position: absolute;
    top: 275px;
    text-align: center;
    width: 100%;
}

/* Main Body */
.body-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5%;
    gap: 1.5%;
}

#about-us{
    background: linear-gradient(#004E42, #003A2C);
    color: #FFFFFF;
}

#about-us img{
    border-radius: 7%;
}

.grid-text h2{
    font-size: 2rem;
    text-decoration: underline;
}
.grid-text p{
    font-size: 1.05rem;
}

.external-link{
    border-radius: 3px;
    background-color: #00AB8E;
    border: 0px;
    width: 40%;
    height: 12%;
    margin-left: 15%;
}

.external-link-text{
    text-decoration: none;
    color: #003A2C;
    font-size: 1.5rem;
    font-family: "Public Sans", sans-serif;
}